.notification_structure img{
	max-width:100%;
}
.notification_structure .row{
	margin-left:-15px;
	margin-right:-15px;
	letter-spacing:-5px;
}
.notification_structure .column{
	display:inline-block;
	vertical-align:top;
	width:15%;
	letter-spacing:normal;
	padding:0 15px;
}
.cart_notifications_form .form-table th{
	width:270px;
}
.cart_notifications_form .form-table select{
    height: 40px;
    line-height: 40px;
    width: 150px;
}
